.row {
  display: flex;
  justify-content: center;
}

.aboutimg {
  width: 17.5rem;
  height: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
}

.abouttext {
  width: calc(50% - 30px);
  margin-right: 2rem;
  font-size: 1.5rem;
}
